Server/cache/cached_occupancies_buildings.txt
Server/cache/cached_occupancies_rooms.txt
Server/node_modules/*
libs/

MobileApp/GTHive/app/build.gradle
MobileApp/GTHive/.idea/vcs.xml
MobileApp/GTHive/.idea/vcs.xml